@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: black;
    color: white;
  }
}

:root {
  background-image: linear-gradient(to bottom right, #ff222288, #2222ff88);
  margin-top: 0px;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  margin-top: 0;
}

.main {
  overflow-y: scroll;
  margin-top: 0;
  padding-top: 1px;
  border: black;
  height: 30000000000000px;
}

.header {
  margin-top: -1px;
  padding-top: 0px;
  position: fixed;
  height: 10vh;
  width: 100vw;
  overflow-y: hidden;
  text-align: center;
  font-size: 8.5vh;
  background-color: #33333333;
}

.header p {
  margin-top: -1vh;
}

.content {
  overflow-y: scroll;
  height: 30000000000000px;
  margin-top: calc(15vh - 1px);
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 5%;
  font-size: 2em;
  border-radius: 10px;
  background-color: #77777744;
  box-shadow: 30px 30px 50px rgba(0,0,0,0.2);
}

h3 {
  margin: 0px auto 10px;
}

.content_box {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.content_box box {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  display: inline-flex;
  width: 200px;
  height: 150px;
  text-align: center;
  background-color: #77777744;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
}