:root {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: black;
    color: white;
  }
}

:root {
  background-image: linear-gradient(to bottom right, #ff222288, #2222ff88);
  overflow-y: hidden;
  margin-top: 0px;
}

body {
  margin: 0;
  margin-top: 0;
}

.main {
  margin-top: 0;
  padding-top: 1px;
  border: black;
}

.header {
  margin-top: -1px;
  padding-top: 0px;
  position: fixed;
  height: 10vh;
  width: 100vw;
  overflow-y: hidden;
  text-align: center;
  font-size: 8.5vh;
  background-color: #33333333;
}

.content {
  margin-top: calc(15vh - 1px);
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 2.5%;
  font-size: 2em;
  height: 100vh;
  border-radius: 10px;
  background-color: #77777744;
  box-shadow: 30px 30px 50px rgba(0,0,0,0.2);
}

.content box1 {
  margin: 10px auto;
  background-color: #77777744;
  border-radius: 10px;
  padding: 10px;
  height: 200px;
  width: 200px;
  display: inline-flex;
  /* max-width: 350px; */
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}